[Desktop Entry]
Type=Application
Name=celtx
GenericName=celtx
Icon=/usr/share/pixmaps/celtx.png
Categories=Qt;KDE;AudioVideo;Audio;
Exec=/opt/celtx/celtx %U
TryExec=/opt/celtx/celtx
Terminal=false
Type=Application
